---
apiVersion: v1
kind: Service
metadata:
  name: apisix-linkx-om-vip
  namespace: platform
  labels:
    helm.sh/chart: apisix-0.10.0
    app.kubernetes.io/name: apisix
    app.kubernetes.io/instance: apisix
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/service: apisix-gateway
  annotations:
    kube-vip.io/loadbalancerIPs: {{ vip }}
spec:
  type: LoadBalancer
  ports:
    - name: http-linkx-web
      port: 30280
      targetPort: 9080
      protocol: TCP
    - name: https-linkx-api-1
      port: 30843
      targetPort: 9443
      protocol: TCP
    - name: https-linkx-api-2
      port: 30844
      targetPort: 9444
      protocol: TCP
  selector:
    app.kubernetes.io/name: apisix
    app.kubernetes.io/instance: apisix
---
apiVersion: v1
kind: Service
metadata:
  name: linkx-node-ws-vip
  namespace: linkx
  labels:
    app.kubernetes.io/name: linkx-node-service
    app.kubernetes.io/service: linkx-node-ws
  annotations:
    kube-vip.io/loadbalancerIPs: {{ vip }}
spec:
  type: LoadBalancer
  ports:
    - name: websocket
      port: 30017
      targetPort: 30017
      protocol: TCP
  selector:
    app: linkx-node-service