#!/bin/bash
branch_code_ccmd=develop_2025_jingxin
branch_code_icc=develop_2025_jingxin
branch_code_admin=develop_2025_jingxin

branch_url_ccmd=http://10.28.64.35/icp-main/ccmd.git
branch_url_icc=http://10.28.64.35/icp-main/web.git
branch_url_admin=http://10.28.64.35/icp-main/cloudcmd-admin-web.git

dir_ccmd=ccmd
dir_icc=web
dir_admin=cloudcmd-admin-web
dir_h5portal=H5Portal

path_workspace=/gitlab-ci/code/qg_jingxin
path_tool=/gitlab-ci/code/autoinstall_tool
path_pkg=/pkg_data/icp_main/qg_jingxin/ccmd

register_host=127.0.0.1:5000
pkg_ver=V100R001C00SPC100B030
prd_name=LINKX
arch=x86