/* 默认主题（亮色主题） */
:root {
  --primary-color: #264ed1;
  --background-color: #f2f2f3;
  --background-color-white: #fff;
  --background-other-color: #fff;
  --background-white-color: #fff;
  --text-color: #333;
  --text-color-active: #264ed1;
  --hight-text-color: rgb(51 51 51 / 100%);
  --card-value-color: #333;
  --card-value-special: #fa0000;
  --card-table-border: #d6e0ff;
  --text-switch-bg: #264ed1;
  --text-switch-other-bg: #fff;
  --button-bg: #f7f9ff;
  --button-bg2: #eee;
  --button-hover-bg: #edf1ff;
  --button-active-color: #264ed1;
  --button-active-color2: rgb(94 126 230 / 100%);
  --border-color: #d9d9d9;
  --border-color2: rgb(237 237 237 / 100%);
  --el-card-border: #fff;
  --el-card_body: #fff;
  --card-right-border: #f2f2f3;
  --tabs-color: #666;
  --tabs-color2: #666;
  --tabs-bg: rgb(245 245 245 / 100%);
  --tabs-active-bg: rgb(38 78 209 / 100%);
  --tabs-active-color: #264ed1;
  --tabs-active-color2: #fff;
  --tabs-active-color3: rgb(90 99 131 / 100%);
  --tab-default-border: #e8e8e8;
  --type-color: rgb(38 78 209 / 100%);
  --type-back: rgb(38 99 255 / 10%);
  --table-title-bg: #f6f8fa;
  --table-title-text: #1a1a1a;
  --table-body-bg: #fff;
  --table-body-striped: #fafafa;
  --table-body-cell: #fff;
  --header-bg: #f0f2f5;
  --card-bg: #fff;
  --hover-color: #e6f7ff;
  --problem-bg: #f5f5f5;
  --problem-left-bg: #fff;
  --problem-left-active: #fff;
  --glass-light-bg: rgb(249 249 249 80%);
  --glass-light-border: rgb(0 0 0 / 10%);
  --content-right-title: #666;
  --content-right-title2: #666;
  --is-blur-bg: #f5f5f5;
  --button-disabled: #213166;
  --is-leaf: #ebebeb;
  --el-table__cell: #fff;
  --el-table__tr: #fff;
  --el-table-tbody-td: #fff;
  --el-table-tbody-td-hover: #ebebeb;
  --item-text-color: #666;
  --td-button-bg: #f3f3f3;
  --td-button-border: #f3f3f3;
  --message-list-bg: #f5f5f5;
  --message-text-color: #666;
  --message-info-left-bg: #fff;
  --message-info-right-bg: rgb(80 119 245);
  --msg-content-bg: #e4ebff;
  --submit-content-bg: #f6f7f7;
  --chat-input-color: rgb(102 102 102 / 20%);
  --frame-box-bg: #fff;
  --svg-filter: brightness(0) saturate(100%) invert(36%) sepia(8%) saturate(1000%)
    hue-rotate(180deg) brightness(90%) contrast(90%);
  --svg-filter-other: brightness(0) saturate(100%) invert(23%) sepia(80%) saturate(1950%)
    hue-rotate(200deg) brightness(95%) contrast(90%);
  --svg-filter-blue: brightness(0) saturate(100%) invert(31%) sepia(94%) saturate(744%)
    hue-rotate(200deg) brightness(95%) contrast(90%);
  --svg-filter-gray: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(1000%)
    hue-rotate(180deg) brightness(90%) contrast(90%);
  --svg-filter-white: brightness(0) saturate(100%) invert(36%) sepia(8%) saturate(1000%)
    hue-rotate(180deg) brightness(90%) contrast(90%);
  --chat-history-bg: #ebebeb;
  --td-input-inner-bg: #fff;
  --td-input-inner-bg2: #fff;
  --selected-tab-back: #eef1fc;
  --tab-color: rgb(90 99 131 / 100%);
  --tab-color-active: rgb(90 99 131 / 100%);
  --td-input-border: rgb(38 78 209 / 100%);
  --td-input-border2: rgb(237 237 237 / 100%);
  --use-bg: rgb(38 99 255 / 10%);
  --use-bg-active: rgb(38 99 255 / 10%);
  --td-border-bottom: #ebebeb;
  --left-aside-bg: #264ed1;
  --collaboration-content-bg: #f9f9f9;
  --collaboration-content-item: #f0f0f0;
  --collaboration-content-item-border: rgb(0 0 0 / 10%);
  --dark-back: #f5f5f5;
  --dark-back-linear: #f5f5f5;
  --chat-list-bg: #fff;
  --list-item-hover-bg: rgb(235 235 235);
  --text-other-color: #666;
  --edit-tip: #fff;
  --edit-tip-textarea: rgba(255 255 255 / 40%);
  --button-text-inner: #f3f3f3;
  --card-icon-bg: #f2f7ff;
  --card-icon-border: transparent;
  --section-bg: #f9f9f9;
  --section-text-light: #1a1a1a;
  --aside-list-active: rgb(255 255 255 / 16%);
  --el-popper-bg: #fff;
  --el-date-table-bg: #fff;
  --el-picker-panel__sidebar: #e4e7ed;
  --el-tree-node__content: #f7f9ff;
  --in-range-bg: #d4e0ff;
  --td-disabled-bg: #f5f7fa;
  --at-person-text: rgb(253 146 31);
  --input-placeholder: #8e919d;
  --btn-add-bg: rgb(77 175 250 / 16%);
  --box-shadow-color: #f9f9f9;
  --list-item-active: rgb(80 119 245 / 20%);
  --list-item-active-border: #dce4fd;
  --light-text-color: #159aff;
  --msg-forward-card: #fff;
  --msg-forward-card-border: rgb(38 78 209 / 10%);
  --divider-border-color: rgb(38 78 209 / 10%);
  --bottom-text-color: #666;
  --quote-msg-bg: #e8e8e8;
  --input-border-color: #ccc;
  --input-bg: #fff;
  --input-focus-bg: #fff;
  --group-type: transparent;
  --group-text-color: rgb(80 119 245);
  --search-bg: #fff;
  --search-text-color: #666;
  --section-title-color: #333;
  --table-item: #fafafa;
  --table-hover-color: #f5f8fd;
  --tag-bg: #e4f0fa;
  --tag-color: rgb(38 78 209 / 100%);
  --dialog-back: #fff;
  --arrow-color: #254dd1;
  --arrow-background: #fff;
  --background-scrollbar-color: rgb(153 206 251 / 100%);
  --button-border-color: #8e919d;
  --ai-bg-color: linear-gradient(90deg, rgb(246 253 255 / 100%) 0%, rgb(217 229 250 / 100%) 100%);
  --ai-message-bg: #4363e6;
  --ai-message-bg2: #fff;
  --relative-back: rgb(38 99 255 / 10%);
  --edit-color: rgb(38 78 209 / 100%);
  --edit-color2: rgb(90 99 131 / 100%);
}

/* 暗色主题 */
[data-theme='dark'] {
  --primary-color: #051f38;
  --background-color: linear-gradient(
    90deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --background-color-white: linear-gradient(
    90deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --background-other-color: linear-gradient(
    180deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --background-white-color: rgb(5 31 56 / 0%);
  --text-color: #fff;
  --text-color-active: #fff;
  --hight-text-color: rgb(21 154 255 / 100%);
  --card-value-color: #99cefb;
  --card-value-special: #fa0000;
  --card-table-border: rgb(28 165 163 / 50%);
  --text-switch-bg: rgb(21 154 255 / 100%);
  --text-switch-other-bg: #264ed1;
  --button-bg: rgb(5 31 56 / 0%);
  --button-hover-bg: #051f38;
  --button-active-color: #1ca5a3;
  --button-active-color2: rgb(255 255 255 / 100%);
  --border-color: rgb(28 165 163 / 50%);
  --border-color2: rgb(28 165 163 / 50%);
  --el-card-border: rgb(5 31 56 / 0%);
  --el-card_body: rgb(28 165 163 / 50%);
  --card-right-border: #6a804b;
  --tabs-color: #99cefb;
  --tabs-color2: rgb(153 206 251 / 100%);
  --tabs-bg: rgb(45 81 122 / 100%);
  --tabs-active-bg: rgb(21 154 255 / 100%);
  --type-color: #99cefb;
  --type-back: rgb(45 81 122 / 100%);
  --tabs-active-color: #1afffb;
  --tabs-active-color2: #fff;
  --tabs-active-color3: rgb(153 206 251 / 100%);
  --tab-default-border: #051f38;
  --table-title-bg: #1e4560;
  --table-title-text: #1afffb;
  --table-body-bg: transparent;
  --table-body-striped: rgb(6 42 71 / 10%);
  --table-body-cell: transparent;
  --header-bg: #1f1f1f;
  --card-bg: #1f1f1f;
  --hover-color: #11263c;
  --dk: #06294a;
  --problem-bg: rgb(5 31 56 / 0%);
  --problem-left-bg: linear-gradient(90deg, rgb(77 175 250 / 32%) 0%, rgb(77 175 250 / 6%) 100%);
  --problem-left-active: linear-gradient(
    90deg,
    rgb(41 233 194 / 74%) 0%,
    rgb(41 233 194 / 32%) 100%
  );
  --glass-light-bg: rgb(5 31 56 / 0%);
  --glass-light-border: #1ca5a3;
  --content-right-title: #fff;
  --content-right-title2: #ccc;
  --is-blur-bg: rgb(6 74 119 / 40%);
  --is-leaf: rgb(6 74 119 / 40%);
  --button-disabled: rgb(6 74 119 / 30%);
  --el-table__cell: rgb(6 74 119 / 40%);
  --el-table__tr: rgb(6 74 119 / 0%);
  --el-table-tbody-td: rgb(6 74 119 / 0%);
  --el-table-tbody-td-hover: rgb(6 74 119 / 0%);
  --item-text-color: #fff;
  --td-button-bg: #1d415f;
  --td-button-border: #4f92c9;
  --message-list-bg: #0a3d55;
  --message-text-color: rgb(153 206 251 / 100%);
  --message-info-left-bg: rgb(21 154 255 / 100%);
  --message-info-right-bg: rgb(0 199 145 / 100%);
  --msg-content-bg: rgb(153 206 251 / 100%);
  --submit-content-bg: #14314e;
  --chat-input-color: rgb(255 255 255 / 20%);
  --frame-box-bg: #1afffb;
  --svg-filter: brightness(0) saturate(100%) invert(71%) sepia(10%) saturate(1000%)
    hue-rotate(180deg) brightness(105%) contrast(90%);
  --svg-filter-other: brightness(0) saturate(100%) invert(82%) sepia(20%) saturate(700%)
    hue-rotate(180deg) brightness(105%) contrast(90%);
  --svg-filter-blue: brightness(0) saturate(100%) invert(82%) sepia(20%) saturate(700%)
    hue-rotate(180deg) brightness(105%) contrast(90%);
  --svg-filter-gray: brightness(0) saturate(100%) invert(71%) sepia(10%) saturate(1000%)
    hue-rotate(180deg) brightness(105%) contrast(90%);
  --svg-filter-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1000%)
    hue-rotate(180deg) brightness(100%) contrast(100%);
  --chat-history-bg: rgb(6 74 119 / 100%);
  --td-input-inner-bg: rgb(12 113 121 / 100%);
  --td-input-inner-bg2: rgb(6 74 119 / 40%);
  --selected-tab-back: rgb(153 206 251 / 8%);
  --tab-color: rgb(153 206 251 / 100%);
  --tab-color-active: #fff;
  --td-input-border: rgb(77 147 201 / 60%);
  --td-input-border2: rgb(77 147 201 / 60%);
  --use-bg: rgb(10 157 171 / 40%);
  --use-bg-active: rgb(10 157 171 / 100%);
  --td-border-bottom: rgb(28 165 163 / 50%);
  --left-aside-bg: rgb(6 41 74 / 100%);
  --collaboration-content-bg: linear-gradient(
    90deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --collaboration-content-item: rgb(240 240 240 / 0%);
  --collaboration-content-item-border: rgb(28 165 163 / 50%);
  --dark-back: #14314e;
  --dark-back-linear: linear-gradient(
    90deg,
    rgb(36 173 146 / 60%) 0%,
    rgb(36 163 131 / 15%) 50%,
    rgb(67 207 124 / 0%) 100%
  );
  --chat-list-bg: linear-gradient(90deg, rgb(6 41 74 / 100%) 0%, rgb(15 92 102 / 100%) 100%);
  --list-item-hover-bg: rgb(80 119 245 / 20%);
  --text-other-color: #7d9bbd;
  --edit-tip: rgb(6 74 119 / 100%);
  --edit-tip-textarea: rgb(6 74 119 / 100%);
  --button-text-inner: rgb(12 113 121 / 100%);
  --card-icon-bg: transparent;
  --card-icon-border: rgb(44 182 209 / 58%);
  --section-bg: rgb(6 74 119 / 100%);
  --section-text-light: #fff;
  --section-heard-bg: #fff;
  --aside-list-active: #248593;
  --el-popper-bg: #14314e;
  --el-date-table-bg: #0a3d55;
  --el-picker-panel__sidebar: #1ca5a3;
  --el-tree-node__content: #1ca5a3;
  --in-range-bg: #1ca5a3;
  --td-disabled-bg: #1d415f;
  --at-person-text: #f7e14d;
  --input-placeholder: rgb(173 204 240 / 100%);
  --btn-add-bg: rgb(77 175 250 / 16%);
  --box-shadow-color: #3ad6d4;
  --list-item-active: rgb(41 233 194 / 16%);
  --list-item-active-border: rgb(41 233 194 / 60%);
  --light-text-color: rgb(0 199 145 / 100%);
  --msg-forward-card: #1b3c57;
  --msg-forward-card-border: #325c7d;
  --divider-border-color: rgb(6 74 119 / 100%);
  --bottom-text-color: rgb(125 155 189 / 100%);
  --quote-msg-bg: #159aff;
  --input-border-color: rgb(77 147 201 / 20%);
  --input-bg: rgb(173 204 240 / 7%);
  --input-focus-bg: rgba(6 74 119 / 40%);
  --group-type: rgb(45 81 122 / 20%);
  --group-text-color: rgb(153 206 251 / 100%);
  --search-bg: rgb(6 74 119 / 40%);
  --search-text-color: rgb(153 206 251 / 100%);
  --section-title-color: rgb(153 206 251 / 100%);
  --table-item: rgb(173 204 240 / 7%);
  --table-hover-color: rgb(41 233 194 / 16%);
  --tag-bg: rgb(45 81 122 / 100%);
  --tag-color: rgb(153 206 251 / 100%);
  --dialog-back: linear-gradient(
    90deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --arrow-color: #fff;
  --arrow-background: rgb(21 154 255 / 100%);
  --background-scrollbar-color: rgb(153 206 251 / 30%);
  --button-border-color: #248593;
  --ai-bg-color: linear-gradient(
    90deg,
    rgb(6 41 74 / 100%) 0%,
    rgb(15 92 102 / 100%) 50%,
    rgb(6 41 74 / 100%) 100%
  );
  --ai-message-bg: rgb(10 157 171 / 100%);
  --ai-message-bg2: linear-gradient(
    90deg,
    rgb(31 115 159 / 16%) 0%,
    rgb(21 154 255 / 16%) 0%,
    rgb(153 206 251 / 16%) 100%
  );
  --relative-back: rgb(26 255 251 / 10%);
  --edit-color: rgb(153 206 251 / 100%);
  --edit-color2: rgb(153 206 251 / 100%);
}
