.idea
*.class
*.iml
classes
test-classes
*.jar
maven-archiver
*.lst
TEST-com.tdtech.cloud.AuthTest.xml
com.tdtech.cloud.AuthTest.txt
/cloud-resource/resource-rest/src/main/java/com/tdtech/cloud/resource/rest/test/
/cloudcmd-service/cloudcmd-iap/cloudcmd-iap-recorder-gateway.rar
target/
target2/
.jvmrc
*.s
*.ds

cloudcmd-service/**/bootstrap-ivs.yml
cloudcmd-service/**/bootstrap-p1400.yml
cloudcmd-service/**/bootstrap-cn.yml

version.ini
socket-proxy.tar.gz

dist/
*.tar.gz