.el-checkbox-group {
  .el-checkbox-button {
    margin-right: 8px;
    border-radius: var(--border-radius);

    .el-checkbox-button__inner {
      display: table-cell;
      height: 26px;
      padding: 0 6px;
      margin: 0;
      font-size: 1rem;
      line-height: 1.8;
      color: #333;
      border: 1px solid transparent;
      border-radius: 0;
    }

    .el-checkbox-button.is-checked .el-checkbox-button__inner {
      color: #fff;
      background-color: #1384df !important;
      border: 1px solid #1384df !important;
    }
  }
}
