.el-color-picker__trigger {
  padding: 2px;
  border: 1px solid var(--border-color-blue);
  border-radius: 0;

  .el-color-picker__color {
    border-radius: 0;
  }
}

.el-popper.is-light {
  background: var(--el-popper-bg);

  span {
    color: var(--item-text-color);
  }

  .el-button {
    background: var(--button-active-color, #264ed1) !important;
    border: none;

    &:first-of-type {
      display: none;
    }
  }
}
