@charset "UTF-8";

.el-dialog {
  background: var(--dialog-back);
  border: 1px solid var(--border-color);
}

.el-dialog__header {
  background: var(--dialog-back);
}

.el-dialog__headerbtn .el-dialog__close {
  color: var(--el-color-primary);
}

.el-dialog__body {
  background: var(--dialog-back);
}
