.el-select-dropdown {
  .el-select-dropdown__item {
    background: none;

    &:hover {
      background: rgb(38 78 209);

      span {
        color: rgb(255 255 255);
      }
    }
  }

  .el-select-dropdown__footer {
    padding: 0;
    border-top: none;

    .td-input {
      margin-bottom: 10px;
    }
  }
}
