.el-loading-spinner .circular {
  display: none;
}

.el-loading-spinner {
  top: 30%;
  height: 200px;
  background: url('@/assets/images/common/reactangle.gif') no-repeat;
  background-position: top;
  background-size: 300px 300px;
}

.el-loading-mask {
  background: var(--background-other-color) !important;
}

.el-loading-text {
  margin-top: 70px !important;
  color: #fff !important;
}
