.el-switch {
  .el-switch__core {
    background-color: #ff4949 !important;
    border-color: #ff4949 !important;
  }

  &.is-checked .el-switch__core {
    background-color: #13ce66 !important;
    border-color: #13ce66 !important;
  }
}
