apiVersion: batch/v1
kind: Job
metadata:
  name: restore-nacos-db-job
  namespace: {{ platform_namespace }}
  labels:
    app.kubernetes.io/instance: restore-nacos-db-job
    app.kubernetes.io/name: restore-nacos-db-job
spec:
  backoffLimit: 0 
  template:
    metadata:
      labels:
        k8s-app: restore-nacos-db-job
        app.kubernetes.io/instance: restore-nacos-db-job
        app.kubernetes.io/name: restore-nacos-db-job
      annotations:
        safebox/enable: "true"
    spec:
      nodeSelector:
        kubernetes.io/hostname: "{{ backupnode }}"
      initContainers:
        - name: wait-safebox-webhook
          image: {{ greatsql_repo }}/checkme:1.0.4
          command: ["/usr/bin/checkme"]
      containers:
      - name: restore-nacos-db-job
        command: ["/bin/sh",  "/restore_nacos_db.sh"]
        env:
          - name: HOST
            value: "cnp-leader.platform"
          - name: PORT
            value: "3306"
          - name: BACKUPUSER
            value: "cnp"
          - name: USERPASSWD
            value: "safebox:platform/platform-secret#mysql_password"
        image: "{{ greatsql_repo }}/xtrabackup:{{ greatsql_backup_version }}"
        #image: "cmc.centralrepo.rnd.huawei.com/td_cloudnative/cnp/xtrabackup:8.0.35-31"
        imagePullPolicy: Always
        volumeMounts:
          - name: log
            mountPath: /data/logs/job
          - name: targetdir
            mountPath: /restore
          - name: datadir
            mountPath: /var/lib/mysql
          - name: localtime
            mountPath: /etc/localtime
          - name: mysql-bin
            mountPath: /restore_nacos_db.sh
            subPath: restore_nacos_db.sh
            readOnly: true
      restartPolicy: Never
      volumes:
        - name: log
          hostPath:
            path: /data/logs/job
        - name: datadir
          hostPath:
            path: {{ great_storage_data_path }}
        - name: targetdir
          hostPath:
            path: {{ nacos_backup_path }}/{{namespace}}/nacos
        - name: localtime
          hostPath:
            path: /etc/localtime
        - name: mysql-bin
          configMap:
            name: mysql-entrypoint
            defaultMode: 0555
