<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径/opt/ccmd/logs/support和/opt/ccmd/logs/biz-->
    <property name="LOG_HOME" value="/opt/cloudcmd/logs/"/>
    <property name="LOG_FILENAME" value="${cloudcmd.service.name}"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%file : %line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILENAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level]%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%file : %line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="com.tdtech.cloudcmd.log.rolling.SecuritySizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/store/${LOG_FILENAME}/${LOG_FILENAME}.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1024MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>