<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdtech.cloudcmd.im.jingxin.server.service.mapper.TasksMapper">
    <select id="findByIdCard" resultType="com.tdtech.cloudcmd.im.jingxin.api.entity.tasks.Tasks">
        SELECT tt.id, tt.number, tt.name, tt.content, tt.system_name, tt.module,
               tt.business_type, tt.status, tt.level, tt.urgent, tt.approval_type, tt.url,tt.url_open_type,
               tt.approval_url, tt.creator_name, tt.creator_id_card, tt.creator_department,
               tt.creator_department_id, tt.creator_department_code, tt.start_time, tt.end_time,
               tt.complete_time, tt.extend, tt.operate_time, tt.update_time, tt.type
        FROM tb_tasks tt
        WHERE tt.business_type IS NOT NULL
        AND tt.status IS NOT NULL
        AND tt.status != '已作废'
        <if test="idCard != null and idCard != ''">
            AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card = #{idCard})
        </if>
        <if test="startTime != null">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and start_time &lt;= #{endTime}
        </if>
    </select>

    <select id="typeByIdCard" resultType="string">
        SELECT  distinct tt.business_type as type FROM tb_tasks tt
        WHERE tt.business_type IS NOT NULL
        AND tt.status IS NOT NULL
        AND tt.status != '已作废'
        <if test="idCard != null and idCard != ''">
            AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card = #{idCard})
        </if>
    </select>

    <select id="countByIdCard" resultType="com.tdtech.cloudcmd.im.jingxin.server.entity.TasksTypeCountVO">
        SELECT tt.business_type as type,count(1) as count FROM tb_tasks tt
        WHERE tt.system_name IS NOT NULL
        AND tt.status IS NOT NULL
        AND tt.status != '已作废'
        <if test="idCard != null and idCard != ''">
            AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card = #{idCard})
        </if>
        <if test="startTime != null">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and start_time &lt;= #{endTime}
        </if>
        group by tt.business_type
        order by count desc
        limit #{limit}
    </select>

    <select id="findToDoList" resultType="com.tdtech.cloudcmd.im.jingxin.api.entity.tasks.Tasks">
        SELECT tt.id, tt.number, tt.name, tt.content, tt.system_name, tt.module,
               tt.business_type, tt.status, tt.level, tt.urgent, tt.approval_type, tt.url,tt.url_open_type,
               tt.approval_url, tt.creator_name, tt.creator_id_card, tt.creator_department,
               tt.creator_department_id, tt.creator_department_code, tt.start_time, tt.end_time,
               tt.complete_time, tt.extend, tt.operate_time, tt.update_time, tt.type
        FROM tb_tasks tt
        WHERE tt.business_type IS NOT NULL
        AND tt.status = '待处理'
        <if test="idCard != null and idCard != ''">
            AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card = #{idCard})
        </if>
        <if test="startTime != null">
            and tt.start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and tt.start_time &lt;= #{endTime}
        </if>
    </select>

    <select id="findByOrgCodeList" resultType="com.tdtech.cloudcmd.im.jingxin.api.entity.tasks.Tasks">
        SELECT tt.id, tt.number, tt.name, tt.content, tt.system_name, tt.module,
               tt.business_type, tt.status, tt.level, tt.urgent, tt.approval_type, tt.url,tt.url_open_type,
               tt.approval_url, tt.creator_name, tt.creator_id_card, tt.creator_department,
               tt.creator_department_id, tt.creator_department_code, tt.start_time, tt.end_time,
               tt.complete_time, tt.extend, tt.operate_time, tt.update_time, tt.type
        FROM tb_tasks tt
        WHERE tt.business_type IS NOT NULL
        AND tt.status IS NOT NULL
        AND tt.status != '已作废'
        <if test="orgCodeList != null and orgCodeList.size() > 0">
            AND (
            tt.creator_department_code IN
            <foreach collection="orgCodeList" item="orgCode" open="(" separator="," close=")">
                #{orgCode}
            </foreach>
            OR EXISTS (
            SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.department_code IN
            <foreach collection="orgCodeList" item="orgCode" open="(" separator="," close=")">#{orgCode}
            </foreach>
            )
            )
        </if>
        <if test="startTime != null">
            and start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and start_time &lt;= #{endTime}
        </if>
    </select>

    <select id="selectPageWithCondition" resultType="com.tdtech.cloudcmd.im.jingxin.api.entity.tasks.Tasks">
        SELECT tt.id, tt.number, tt.name, tt.content, tt.system_name, tt.module,
               tt.business_type, tt.status, tt.level, tt.urgent, tt.approval_type, tt.url,tt.url_open_type,
               tt.approval_url, tt.creator_name, tt.creator_id_card, tt.creator_department,
               tt.creator_department_id, tt.creator_department_code, tt.start_time, tt.end_time,
               tt.complete_time, tt.extend, tt.operate_time, tt.update_time, tt.type
        FROM tb_tasks tt
        <where>
            <if test="tasksQueryReq.keywords != null and tasksQueryReq.keywords != ''">
                AND (tt.name LIKE concat('%',#{tasksQueryReq.keywords},'%')
                OR tt.content LIKE concat('%',#{tasksQueryReq.keywords},'%')
                OR tt.system_name LIKE concat('%',#{tasksQueryReq.keywords},'%')
                OR tt.creator_name LIKE concat('%',#{tasksQueryReq.keywords},'%')
                OR tt.creator_department LIKE concat('%',#{tasksQueryReq.keywords},'%')
                )
            </if>
            <if test="tasksQueryReq.executor != null and tasksQueryReq.executor != ''">
                AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card =
                #{tasksQueryReq.executor})
            </if>
            <if test="tasksQueryReq.idCard != null and tasksQueryReq.idCard != ''">
                AND EXISTS (SELECT 1 FROM tb_tasks_executors te WHERE tt.id = te.task_id AND te.id_card = #{tasksQueryReq.idCard})
            </if>
            <if test="tasksQueryReq.startTime != null and tasksQueryReq.endTime != null">
                AND tt.start_time &gt;= #{tasksQueryReq.startTime} AND tt.start_time &lt;= #{tasksQueryReq.endTime}
            </if>
            <if test="tasksQueryReq.status != null and tasksQueryReq.status != ''">
                AND tt.status =#{tasksQueryReq.status}
            </if>
            <if test="tasksQueryReq.businessTypeList != null and tasksQueryReq.businessTypeList.size()>0">
                AND tt.business_type IN
                <foreach collection="tasksQueryReq.businessTypeList" open="(" separator="," close=")"
                         item="businessType">
                    #{businessType}
                </foreach>
            </if>
            <if test="tasksQueryReq.levelList != null and tasksQueryReq.levelList.size()>0">
                AND tt.level IN
                <foreach collection="tasksQueryReq.levelList" open="(" separator="," close=")" item="level">
                    #{level}
                </foreach>
            </if>
            <if test="tasksQueryReq.urgent != null">
                AND tt.urgent =#{tasksQueryReq.urgent}
            </if>
        </where>
        ORDER BY tt.update_time DESC
    </select>

    <select id="countToDoTasks" resultType="com.tdtech.cloudcmd.im.jingxin.server.entity.TasksToDoCountVO">
        SELECT
        te.id_card as idCard,
        count(1) as count
        FROM
        tb_tasks tt
        LEFT JOIN tb_tasks_executors te ON te.task_id = tt.id
        WHERE
        tt.STATUS = '待处理'
        <if test="idCardList != null and idCardList.size()>0">
            AND te.id_card IN
            <foreach collection="idCardList" open="(" separator="," close=")" item="idCard">
                #{idCard}
            </foreach>
        </if>
        GROUP BY
        te.id_card
    </select>

    <select id="countMyToDoTask" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_tasks tt
        LEFT JOIN tb_tasks_executors te ON te.task_id = tt.id
        WHERE
        tt.STATUS = '待处理'
        AND te.id_card = #{idCard}
    </select>
</mapper>