# Logs
*.log
pnpm-debug.log*

node_modules
dist
dist/*
config/**/dist/*
dist-ssr
cloudcmd/*
*.local
buildVisual.html
unused-files.json

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
.eslintcache
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
